.Main_container{
    padding: 70px 30px;
    display: flex;
}
.main_left{
    padding: 2px;
    border: 2px rgb(51, 255, 51);;
    width: 40%;
    color: rgb(51, 255, 51);;
}
.main_left >p{
    padding: 5px;
    font-size: 45px;
}
.discription{
    border: 2px rgb(51, 255, 51);;
    padding: 10px;
    margin: 5px 5px;
    font-size: 20px;
}
.details{
    border: 2px rgb(51, 255, 51);;
    display: flex;
    padding: 15px;
    margin: 5px 2px;
}
.details > p{
    font-size: 25px;
}
.hack{
    height: 30%;
    width:10%
}
.contact{
    padding: 5px 15px;
    margin-right: 15px;

}
.contact > a{
    transition: 0.5s ease-in;
    margin-right: 25px;
}
.social:hover{
    height: 15%;
    width:15%;
}
button{

    width: 150px;
    margin: 32px 50px;
    padding: 20px 15px;
    border-radius: 18px;
    background-color:rgb(51, 255, 51);;
    font-size: 18px;
    cursor: pointer;
    color: black;

}

.main_right{
    display: flex;
    width: 40%;
    
}
.main_right > img{
    display: flex;
    width:140%;
    height: 63%;
    padding: 5px;
    margin-left: 220px;
    margin-top: 20px;
    border-radius: 25px;
}
.main_right > img:hover{
    height: 80%;
    width: 120%;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}