.title{
    color:white;
    font-size: 45px;
    text-align: center;
    margin-top: -50px;
}
.container{
    margin-top: -20px;
    animation: abc 3s;
}
.row1{
    display: flex;
    margin: 25px 25px;
}
.skill{
    width: 400px;
    border: 3px solid red;
    margin-right: 10px;
    height: 30px;
}
.techstack_icon_container{
    display: flex;
    height: 110%;
    align-content: center;
    justify-content: center;
}
.green{
    color:rgb(51, 255, 51);
}


@keyframes abc{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes def{
    0%{
        opacity: 0;
        transform: translateX(-1120px) scale(0.98);
    }
    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
